# The listening port for the API server
PORT=8060

# The current runtime environment (development / production)
NODE_ENV=development

# The allowed origin(s) for CORS requests ('https://myapp.com' or '*' for public)
CLIENT_URL=*

# Postgres credentials
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_EXTERNAL_PORT=6545
POSTGRES_USER=Hubabuba
POSTGRES_PASSWORD=VerY_sTrOng_and_reAdAblE_db_password
POSTGRES_DB=Quizly_hubabuba_dev_db
